* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

input:focus {
  outline: none;
}

.form-container {
  max-width: 40vw;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  min-width: 300px;
}

.form-field {
  position: relative;
}

.form-field::after {
  content: url("./assets/spidr-logo-16x16.png");
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  max-width: 8px;
  height: auto;
  opacity: 1;
}
